.footer {
  width: 100%;
  height: 50px;
  border-spacing: 4px 1rem;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 1em;
  margin: 5px;
}
