@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");
:root {
  --text-font: "Hind", sans-serif;
  --title-font: "Montserrat", sans-serif;
  --white: hsl(0, 0%, 100%);
  --dark: hsl(0, 0%, 8%);
  --dark-fade: rgba(0, 0, 0, 0.35);
  --gray: hsl(0, 0%, 44%);
  --light-gray: hsl(0, 0%, 63%);
  --faded-gray: hsl(0, 0%, 88%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--text-font);
  color: var(--dark);
}

img {
  width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}

.footer {
  margin-top: 80px;
}
.footer__redes-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 45px auto;
}
.footer__redes-wrapper li {
  display: inline-block;
}
.footer__redes-wrapper li:hover {
  color: var(--gray);
}
.footer__link {
  text-transform: uppercase;
  font-family: var(--title-font);
  font-size: rem(14);
}
.footer .fab {
  margin-right: 8px;
}
.footer__texto {
  color: var(--light-gray);
  text-align: center;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.gallery__photo {
  position: relative;
  display: inline-block;
}
.gallery__fade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-fade);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.gallery__fade:hover {
  opacity: 1;
}
.gallery__icon {
  color: #fff;
  width: 50px;
  height: 50px;
}

.separador {
  background-color: var(--faded-gray);
  height: 2px;
  max-width: 30px;
  margin: 15px auto 20px;
}

.footer__redes-wrapper li, .gallery__fade {
  transition: all ease 0.3s;
}
